@model List<HospitalManagementSystemMvc.Models.Appointment.AppointmentIndexViewModel>
@{
    ViewData["Title"] = "Appointment Index";
}

<div class="d-flex flex-wrap justify-content-between align-items-baseline">
    <h1>Appointment</h1>
    <a asp-controller="Appointment" asp-action="Create" class="btn btn-sm btn-success">Create an Appointment</a>
</div>

<table class="table table-striped border">
    <thead>
        <tr>
            <th>Id</th>
            <th>PatientId</th>
            <th>DoctorId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Appointment in Model)
        {
            <tr>
                <td>@Appointment.Id</td>
                @* <td>@Appointment.patientId</td> *@
                <td>@Appointment.DoctorId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@Appointment.Id" class="btn btn-sm btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@Appointment.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Appointment.Id" class="btn btn-sm btn-primary">Delete</a>
                </td>                
            </tr>
        }
    </tbody>
</table>